In [5]:
# Final version
import os
import glob
import pandas as pd
from tqdm import tqdm

# Set the directory containing the CSV files
csv_dir = './merge_folder_csv_active_incident_resource_summary'

# Create the output directory if it doesn't exist
output_dir = './merge_folder_csv_active_incident_resource_summary'
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Get a list of all CSV files in the directory
csv_files = glob.glob(os.path.join(csv_dir, '*.csv'))

# Combine all CSV files into a single dataframe
combined_df = pd.concat([pd.read_csv(f) for f in tqdm(csv_files)])

# Save the combined dataframe to a new CSV file in the output directory
output_file = os.path.join(output_dir, 'combined_file2.csv')
combined_df.to_csv(output_file, index=False)

100%|███████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 108.76it/s]

In [6]:
combined_df

,Date,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,01/05/2018,NaN,Total,NaN,NaN,6,NaN,NaN,"282,614",NaN,...,NaN,NaN,10.0,NaN,NaN,396.0,NaN,NaN,NaN,NaN
1,01/12/2018,NaN,Total,NaN,NaN,8,NaN,NaN,"302,49",NaN,...,NaN,NaN,0.0,NaN,NaN,"1,32",NaN,NaN,NaN,NaN
2,01/19/2018,NaN,Total,NaN,NaN,4,NaN,NaN,"301,940",NaN,...,NaN,NaN,0.0,NaN,NaN,917.0,NaN,NaN,NaN,NaN
3,01/26/2018,NaN,Total,NaN,NaN,24,NaN,NaN,"14,737",NaN,...,NaN,NaN,0.0,NaN,NaN,133.0,NaN,NaN,NaN,NaN
4,02/02/2018,NaN,Total,NaN,NaN,34,NaN,NaN,"18,678",NaN,...,NaN,NaN,2.0,NaN,NaN,380.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,12/02/2022,NaN,Total,NaN,NaN,12.0,NaN,NaN,"9,617",NaN,...,NaN,NaN,1.0,NaN,NaN,93.0,NaN,-60.0,NaN,NaN
217,12/09/2022,NaN,Total,NaN,NaN,8.0,NaN,NaN,"8,995",NaN,...,NaN,NaN,1.0,NaN,NaN,258.0,NaN,-7.0,NaN,NaN
218,12/16/2022,NaN,Total,NaN,NaN,2.0,NaN,NaN,593,NaN,...,NaN,NaN,0.0,NaN,NaN,3.0,NaN,-255.0,NaN,NaN
219,12/23/2022,NaN,Total,NaN,NaN,1.0,NaN,NaN,408,NaN,...,NaN,NaN,0.0,NaN,NaN,7.0,NaN,4.0,NaN,NaN
220,12/30/2022,NaN,Total,NaN,NaN,0.0,NaN,NaN,0,NaN,...,NaN,NaN,0.0,NaN,NaN,0.0,NaN,-7.0,NaN,NaN